.story-button {
  display: inline-block;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: $darkgreen;
  border-bottom: 1px solid $darkgreen;
  transition: all 0.3s;

  &:hover {
    color: $color-white;
    background-color: $darkgreen;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transform: translateY(-3px);
  }
}
